.footernavblock{
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

#footercontainer {
  max-width: 1000px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #9fd9e3;
  color: white;
  text-shadow: 1px 1px #666;
/*  box-shadow: 0 0 1px 1px grey;*/
}

.footertext{
  margin-left: 30px;
  margin-right: 30px;
  height: 25px;
  line-height: 0px;
  
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: 'Caveat';
  font-size: 15px;
}

.vector {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
